form {
    border: 1px solid gray;
    /* width: 500px; */
    margin: 0 300px 0 300px;
    border-radius: 3px;
}

form .head p {
    background-color: gray;
    /* width: 100%; */
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.container {
    padding: 0 50px 0 50px;

}

/* form labele */
label {
    color: rgb(60 196 169);
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


.names {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 100px;
}

#email {
    width: 102%;
    margin-bottom: 30px;
}

.passwords {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 100px;
}

.type {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 100px;
}

#Male,
#female,
#music,
#travel,
#sports,
#movie {
    color: black;
    font-size: large;
}

.complete {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 100px;
}

#pass,
#confirm,
#fname,
#lname {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 5px;
}

select {
    width: 80%;

}

#age {
    width: 60%;

}

output {
    background-color: rgb(60 196 169);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

textarea {
    border-radius: 3px;
    margin-bottom: 15px;
}

.head2 {
    text-align: right;
    margin-right: 30px;
}

form .head2 input {
    background-color: rgb(60 196 169);
    /* width: 100%; */
    /* height: 30px; */
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    padding: 7px;
    /* text-align: center; */
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form .foot {
    background-color: gray;
    /* width: 100%; */
    height: 50px;
    margin-left: -50px;
    margin-right: -50px;
    /* padding-top: 20px; */
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-radius: 2px;
}